* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: Arial, sans-serif;
background: #f5f5f5;
color: #333;
line-height: 1.6;
}


header {
background: #0d47a1;
color: white;
padding: 1rem 2rem;
display: flex;
justify-content: space-between;
align-items: left;


}


header nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  transition: 0.3s ease;


}

header nav a:hover {
  background: white;
  transform: scale(1.05);
  color: #004aad;
  display: inline-block;   
  padding: 5px 10px;  
  border-radius: 10px;
transition: all 0.3s ease;
width: 100%;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}

header img{max-width: 80px;}

header h1{
    padding-top: 2%;
    align-content: right;
}


.hero{
  position:relative;
  height:300px;
  overflow:hidden;

}
.hero_img{
  width:100%;height:100%;object-fit:cover;
}
.hero_text{
  position:absolute;top:80%;left:50%;
  transform:translate(-50%, -50%);
  text-align:center;color:white;
  font-size: smaller;
  
}
.hero h1{ background-color: #f5f7f8;
          padding: 5%;
        opacity: 0.8;}

/* SHOP NOW SECTION */
.shop_now {
  text-align: center;
  margin-top: 2rem;
}

.shop_btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  background: #004aad; /* HP Blue */
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.shop_btn:hover {
  background: #02204b;
  transform: scale(1.05);
}

.product-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 1.5rem;
padding: 2rem;
}


.product-card {
background: white;
padding: 1rem;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
text-align: center;
transition: transform 0.2s;
}


.product-card:hover {
transform: scale(1.03);
}


.product-card img {
width: 100%;
border-radius: 8px;
margin-bottom: 1rem;
}

.price{
    font-weight: bold;
    color: #004aad;
    font-size:xx-large;
}

.btn{
    color: white;
    background-color: #004aad;
    width: 200px;
    height: 50px;
    font-size: large;
    border: none;
    border-radius: 40px;
}

.btn:hover {
  background: #02204b;
  transform: scale(1.05);
}

@media (min-width: 700px) {
  .menu-btn {
    display:none; /* hide hamburger */
    opacity: 0;
  }

  nav.nav-menu {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 2rem;
    background: none;
    width: auto;
  }

 

  
}



/* MOBILE FIRST */
.menu-btn {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
}

/* hide menu by default on small screens */
.nav-menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: #0d47a1;
  padding: 2rem;
  width: 100%;
  position: absolute;
  top: 110px;
  left: 0;
 align-items: left;
  z-index: 1000;
  opacity: 0.9;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
  padding: 5px 10px;  
  border-radius: 10px;
   display: inline-block;

}

/* Wayfinding (active page) */
.nav-menu a.active {
  border-bottom: 2px solid #ffffff;
  font-weight: bold;
}

/* when menu is open */
.nav-menu.open {
  display: flex;
}

#close-icon {
  display: none;
}

/*** FOOTER ***/
.site-footer{
  
  background:#0d47a1;color:white;padding:1rem 0;
}
.footer-inner{display:flex;
    justify-content:space-between;
      padding: 35px;

}

